# Environment
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI= mongodb://dbUser:dbUserPassword@ac-qpmusup-shard-00-00.oknamii.mongodb.net:27017,ac-qpmusup-shard-00-01.oknamii.mongodb.net:27017,ac-qpmusup-shard-00-02.oknamii.mongodb.net:27017/?ssl=true&replicaSet=atlas-xcse6o-shard-0&authSource=admin&appName=Cluster0     


# JWT - Generate strong secrets using: openssl rand -hex 64
JWT_SECRET=PPBMNDxkKRg8Ic91DnpY6SCgUiO1lPEDZ5L58Om3qgt
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=d802oZSRysmk49iaoQVJ6Qyp1GyRxCC3EKl18L7kugO
JWT_REFRESH_EXPIRE=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=duuf5a7ir
CLOUDINARY_API_KEY=314793639366169
CLOUDINARY_API_SECRET=Alt-BsrftGi-PgZnftoqgjjtQXw

# Resend Email
RESEND_API_KEY=re_your-resend-api-key

# Client URL
CLIENT_URL=http://localhost:3000

# Email Verification
EMAIL_VERIFY_EXPIRE=86400000
DEV_AUTO_VERIFY=true
